<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CyberLearn Dressing Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./../assets/css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="text-center">
              <img src="./../assets/images/cybersoft.png" alt="Card image" />
            </div>

            <div class="card-body">
              <h4 class="card-title text-center">
                CyberLearn - Học lập trình trực tuyến - Dự án thử đồ trực tuyến
                - Virtual Dressing Room
              </h4>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- Item 1 -->
            <li class="nav-item">
              <a class="nav-link mr-4 active" id="ao-tab" data-toggle="tab" href="#topclothes" role="tab" aria-controls="home" aria-selected="true"></a>
            </li>
            <!-- Item 2 -->
            <li class="nav-item">
              <a class="nav-link mr-4" id="quan-tab" data-toggle="tab" href="#botclothes" role="tab" aria-controls="profile" aria-selected="false"></a>
            </li>
            <!-- Item 3 -->
            <li class="nav-item">
              <a class="nav-link mr-4" id="giay-dep-tab" data-toggle="tab" href="#shoes" role="tab" aria-controls="contact" aria-selected="false"></a>
            </li>
            <!-- Item 4 -->
            <li class="nav-item">
              <a class="nav-link mr-4" id="tui-xach-tab" data-toggle="tab" href="#handbags" role="tab" aria-controls="contact" aria-selected="false"></a>
            </li>
            <!-- Item 5 -->
            <li class="nav-item">
              <a class="nav-link mr-4" id="day-chuyen-tab" data-toggle="tab" href="#necklaces" role="tab" aria-controls="contact" aria-selected="false"></a>
            </li>
            <!-- Item 6 -->
            <li class="nav-item">
              <a class="nav-link mr-4" id="kieu-toc-tab" data-toggle="tab" href="#hairstyle" role="tab" aria-controls="contact" aria-selected="false"></a>
            </li>
            <!-- Item 7 -->
            <li class="nav-item">
              <a class="nav-link mr-4" id="nen-tab" data-toggle="tab" href="#background" role="tab" aria-controls="contact" aria-selected="false"></a>
            </li>
          </ul>

          <div class="well">
            <!-- Tab panes -->
            <div class="tab-content" id="myTabContent">
              <!-- Áo -->
              <div class="tab-pane fade show active" id="topclothes" role="tabpanel" aria-labelledby="ao-tab">1</div>
              <!-- Quần -->
              <div class="tab-pane fade" id="botclothes" role="tabpanel" aria-labelledby="quan-tab">2</div>
              <!-- Giày dép -->
              <div class="tab-pane fade" id="shoes" role="tabpanel" aria-labelledby="giay-dep-tab">3</div>
              <!-- Túi xách -->
              <div class="tab-pane fade" id="handbags" role="tabpanel" aria-labelledby="tui-xach-tab">...</div>
              <!-- Dây chuyền -->
              <div class="tab-pane fade" id="necklaces" role="tabpanel" aria-labelledby="day-chuyen-tab">...</div>
              <!-- Kiểu tóc -->
              <div class="tab-pane fade" id="hairstyle" role="tabpanel" aria-labelledby="kieu-toc-tab">...</div>
              <!-- Background -->
              <div class="tab-pane fade" id="background" role="tabpanel" aria-labelledby="nen-tab">...</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contain">
            <div class="body"></div>
            <div class="model"></div> 
            <div class="hairstyle">
              <img src="" alt="" id="Hairstyle">
            </div>
            <div class="necklace">
              <img src="" alt="" id="Necklace">
            </div>
            <div class="bikinitop">
              <img src="" alt="" id="Top">
            </div>
            <div class="bikinibottom">
              <img src="" alt="" id="Bot">
            </div> 
            <div class="handbag">
              <img src="" alt="" id="Handbag">
            </div>
            <div class="feet">
              <img src="" alt="" id="Shoes">
            </div>
            <div class="background">
              <img src="" alt="" id="Background">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- bootstrap js cdn -->

    <!-- <script src="./../models/ListChosen.js"></script>
    <script src="./../models/ChoseItem.js"></script>
    <script src="./../utils/callData.js"></script>
    <script src="./../controllers/main.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="../controllers/ListItem.js"></script>
  </body>
</html>
